<div class="container mt-4 mb-5">
    <h1>Cat Match Quiz</h1>
    <p>What characteristic do you want in a cat?</p>
    <form action="">
        <input type="radio" id="Friendly" name="cat_attribute" value="Friendly">
        <label for="Friendly">Friendly</label><br>
        <input type="radio" id="Playful" name="cat_attribute" value="Playful">
        <label for="Playful">Playful</label><br>
        <input type="radio" id="Adorable" name="cat_attribute" value="Adorable">
        <label for="Adorable">Adorable</label><br>
        <input type="radio" id="Loving" name="cat_attribute" value="Loving">
        <label for="Loving">Loving</label><br>
        <input type="radio" id="Affectionate" name="cat_attribute" value="Affectionate">
        <label for="Affectionate">Affectionate</label><br>
        <input type="radio" id="Curious" name="cat_attribute" value="Curious">
        <label for="Curious">Curious</label><br>
        <input type="radio" id="Energetic" name="cat_attribute" value="Energetic">
        <label for="Energetic">Energetic</label><br>
        <input type="radio" id="Loves Attention" name="cat_attribute" value="Loves Attention">
        <label for="Loves Attention">Loves Attention</label><br>
        <input type="radio" id="Loves To Cuddle" name="cat_attribute" value="Loves To Cuddle">
        <label for="Loves To Cuddle">Loves To Cuddle</label><br>
        <input type="radio" id="Love To Play" name="cat_attribute" value="Love To Play">
        <label for="Love To Play">Love To Play</label><br>
        <input type="radio" id="Loves To Be Pet" name="cat_attribute" value="Loves To Be Pet">
        <label for="Loves To Be Pet">Loves To Be Pet</label><br>
        <div class="col-lg-12">
            <button class="btn btn-md btn-dark">Submit</button>
        </div>
    </form>
</div>