<div class="banner">
    <div class="content">
        <h1 class="mb-5">ABOUT US</h1>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="text-center mb-4">
        <h1>PurfectPartner is an organization whose mission is to provide homes for any cat in need of one. We are able to accomplish this goal by pairing potential cat owners with their ideal feline friend through our matching quiz. Additionally, we also provide the cat's name, characteristics, price, and shelter. </h1>
    </div>
</div>