<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Here at PurfectPartner, we believe that adopting your forever feline friend
        should be as easy as possible and that you two would be a purfect match for each other.
        <br/>
        uhhhhhhhhhhhhhhhhhhh place holder text
        uhhhhhhhhhhhhhhhhhhh place holder text
        <br/>
        uhhhhhhhhhhhhhhhhhhh place holder text
        uhhhhhhhhhhhhhhhhhhh place holder text
        uhhhhhhhhhhhhhhhhhhh place holder text
        <br/>
        uhhhhhhhhhhhhhhhhhhh place holder text
        uhhhhhhhhhhhhhhhhhhh place holder text
        uhhhhhhhhhhhhhhhhhhh place holder text
        
    </p>

</div>